/* imports */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* clear deafult styling */
h1, h2, li, ul, p {
    padding: 0;
    margin: 0;
}

/* set global styling for base selectors */
body {
    font-family: 'JetBrains Mono', monospace;
    text-align: center;

    color: white;
    background-color: rgb(34, 34, 34);

    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(22, 22, 22);
    padding: 30px;
}

main {
    max-width: 100%;
    width: 1200px;
    margin: 30px auto;
    padding: 0px 5%;
    box-sizing: border-box;
}

footer {
    background-color: rgb(22, 22, 22);
    padding: 30px;
}

ul li {
    text-align: start;
}

::selection {
    background-color: black;
    color: white;
}