.game-info {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr;

    column-gap: 20px;
    row-gap: 20px;

    padding-bottom: 8%;

    max-width: 100%;
}

.game-info h2 {
    grid-column-start: 1;
    grid-column-end: 3;

    text-align: left;
}

.game-info .description {
    grid-column-start: 1;
    grid-column-end: 3;

    text-align: justify;
}

.game-info label {
    grid-column-start: 1;
    grid-column-end: 2;

    text-align: left;
}

.game-info ul {
    grid-column-start: 2;
    grid-column-end: 3;
}

.game-info .credit {
    grid-column-start: 1;
    grid-column-end: 3;

    text-align: justify;
}

.game-info a .play {
    grid-column-start: 1;
    grid-column-end: 2;
}

.game-info a .source {
    grid-column-start: 2;
    grid-column-end: 3;
}

.game-info .slideshow-container {
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 6;

    width: 100%;
}
.slideshow-container img {
    width: 100%;
}

.container1-slide, .container2-slide, .container3-slide {
  display: none;
}

.prev {
    position: relative;
    bottom: 50%;
    right: 44%;
    display: inline-block;
    padding: 5 5px;
    border: 2px solid transparent;
    cursor: pointer;
    user-select: none;
}
.next {
    position: relative;
    bottom: 50%;
    left: 44%;
    display: inline-block;
    padding: 5 5px;
    border: 2px solid transparent;
    cursor: pointer;
    user-select: none;
}
.prev:hover, .next:hover {
    border-color: white;
}

/* responsive styling */

@media screen and (max-width: 915px){
    .game-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 2fr 2fr 2fr 1fr;

        column-gap: 20px;
        row-gap: 20px;
        padding-bottom: 8%;

        max-width: 100%;
    }

    .game-info .slideshow-container {
        grid-column-start: 1;
        grid-column-end: 3;

        width: 100%;
        align-self: flex-end;
    }
}