/* Navigation */

.nav-container {
  background-color: hsl(var(--bkg));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-tall);
  border-bottom: 2px solid hsl(var(--white));
}

.nav-links,
.nav-wrapper {
  display: flex;
  align-items: center;
  gap: var(--space-s);
}

.nav-links {
  list-style: none;
  flex-direction: column;
  transform: translateY(-200%);
  position: absolute;
  top: var(--space-l);
  left: 0;
  right: 0;
  text-align: center;
  padding: var(--space);
  background-color: hsl(var(--bkg) / .98);
  border-bottom: 3px solid hsl(var(--accent3));
  z-index: -1;
}

.menu-button[aria-expanded="true"] + .nav-links {
  transition: transform var(--transition-time);
  transform: translateY(1.4em);
}
.menu-button[aria-expanded="false"]+.nav-links {
  transition: transform var(--transition-time);
}

.nav-links li,
.nav-links li a {
  width: 100%;
  display: block;
  font-size: 2rem;
}

.menu-button {
  background-color: transparent;
  border: none;
  color: hsl(var(--white));
  display: grid;
  place-items: center;
  padding-inline: 1em;
  cursor: pointer;
  transition: all var(--transition-time);
}
.menu-button:hover {
  transform: scale(1.1);
}
.menu-button[aria-expanded="true"] {
  color: hsl(var(--accent3));
}

.logo {
  transition: all var(--transition-time-short);;
}
.logo:hover {
  transform: scale(1.05);
  transform: rotate(-180deg);
  transition: all var(--transition-time-short);;
}

@media screen and (min-width: 1000px) {
  
  .nav-container {
    padding: var(--padding-short);
  }
  .menu-button {
    display: none;
  }
  .nav-links {
    flex-direction: row;
    position: static;
    border: none;
    background-color: transparent;
    transform: translateY(0);
    transition: all 0s;
    padding: 0;
    inset: initial;
    z-index: 0;
  }
  .nav-links li,
  .nav-links li a {
    width: initial;
    font-size: 1.2rem;
  }
}