.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 149px;
}

.u-section-1 .u-text-1 {
  width: 803px;
  animation-duration: 1000ms;
  font-size: 4.5rem;
  font-family: Staatliches;
  margin: 35px auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 468px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 355px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 17px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 15px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 13px 289px 0 0;
}

.u-section-2 .u-text-4 {
  margin: -25px 0 0 221px;
}

.u-section-2 .u-text-5 {
  margin: 10px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 31px auto -17px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 355px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-2 .u-gallery-1 {
  height: 355px;
  margin-bottom: -30px;
  margin-top: -30px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -25px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 46px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 293px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1144px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -50px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 79px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 79px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 157px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -25px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 98px;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.09), rgba(0,0,0,0.09)), url("images/cubes.png");
  background-position: 50% 50%;
  background-size: 125%;
}

.u-section-3 .u-sheet-1 {
  min-height: 455px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 355px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-1 {
  margin: 15px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 15px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 11px 289px 0 0;
}

.u-section-3 .u-text-4 {
  margin: -25px 0 0 221px;
}

.u-section-3 .u-text-5 {
  margin: 11px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 17px auto 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -45px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 355px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-3 .u-gallery-1 {
  height: 355px;
  margin-bottom: -30px;
  margin-top: -30px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -25px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 106px;
    margin-right: 189px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -127px;
    margin-left: 121px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
    margin-left: 121px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 121px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 238px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 293px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 79px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 11px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 11px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 11px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 11px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1144px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -50px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 81px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -102px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 72px;
    margin-right: auto;
    margin-left: 157px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: auto;
    margin-left: 157px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -25px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 106px;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 98px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 98px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 455px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 355px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-4 .u-text-1 {
  margin: 17px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 17px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 5px 0 0 221px;
}

.u-section-4 .u-text-4 {
  margin: -75px 289px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 63px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 19px auto 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -47px auto 0 167px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 355px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-4 .u-gallery-1 {
  height: 355px;
  margin-bottom: -30px;
  margin-top: -30px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -25px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 121px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 121px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
    margin-left: 121px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 46px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 238px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 293px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 11px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 11px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 11px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 20px;
    margin-left: 46px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1144px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -50px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 63px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 157px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 157px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -25px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 98px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 98px;
  }
}