/* Footer */

footer {
  background-color: hsl(var(--bkg));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.social-links {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--space-normal);
  padding-inline-start: 0;
  margin: 0;
}

.social-icon {
  color: hsl(var(--accent1));
  transition: all 0.15s;
}
.social-icon:hover {
  color: hsl(var(--accent2));
  transform: scale(1.05);
  transition: all 0.15s;
}