/* Body */
::-moz-selection {
  color: hsl(var(--white));
  background: black;
  -webkit-text-fill-color: hsl(var(--white));
}

::selection {
  color: hsl(var(--white));
  background: black;
  -webkit-text-fill-color: hsl(var(--white));
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: hsl(var(--bkg));
}
::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--bkg) / 0.8);
}

body {
  font-family: 'Geomatrix', 'sans-serif';
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  
  background-color: hsl(var(--white));
  color: hsl(var(--bkg));
}

nav {
  position: fixed;
  width: 100%;
  z-index: 1;
}

main {
  display: grid;
  margin: 7em 0;
}

section {
  padding: 3em 15%;
  display: flex;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--space-m);
}

.wrapper {
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

small {
  color: hsl(var(--muted-text));
}

/* Components */

.button {
  color: hsl(var(--white));
  border: 3px solid transparent;
  text-decoration: none;
  padding: var(--padding-tall);
}
.button:hover {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-m);
}

.icon-box {
  background-color: hsl(var(--gray));
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  gap: var(--space-xs);
  padding: var(--space-l);

  width: 300px;
  height: 300px;
  transition: all var(--transition-time);;
}
.icon-box:hover {
    transform: translateY(-0.4em);
    transition: all var(--transition-time);;
}

@media screen and (max-width: 999px) {
  
  .button:hover {
    border: 6px solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: var(--gradient);

    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}