body {
    /* background: url(../images/temp_background.jpg) no-repeat center; */
}

.hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: top;

    padding-top: var(--space-large);
}

.skills {
    background: hsl(var(--bkg));
}

.about {
    gap: 6rem;
}

.bordered-img {
    display: flex;
    background-image: var(--gradient);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    align-items: center;
    justify-content: center;
    padding: 6px;
    transition: all 0.4s;
}
.bordered-img:hover {
    transform: translateY(-0.6em);
    transition: all 0.4s;
}
.bordered-img img {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

@media screen and (max-width: 999px) {
  
    .hero {
        justify-content: center;
        flex-direction: column;
    }
}