/* Utilities */

.h1 {
  font-size: 3.157rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 3.5rem;
}

.h2 {
  font-size: 2.369rem;
  font-weight: 700;
  line-height: 3rem;
  text-transform: uppercase;
}

.h3 {
  font-size: 1.777rem;
  font-weight: 500;
}

.h4 {
  font-size: 1.333rem;
}

.p {
  margin-top: 1em;
  font-size: 1em;
  max-width: 64ch;
}
.p-short {
  max-width: 44ch;
}

.text-light {
  color: hsl(var(--white));
}

.text-muted {
  color: hsl(var(--muted-text));
}

.text-dark {
  color: hsl(var(--bkg));
}

.text-gradient {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lg-img {
  max-width: 45ch;
}

.md-img {
  max-width: 18ch;
}

.sm-img {
  max-width: 8ch;
}

.allign-right {
    display: flex;
    justify-content: right;
}

.allign-left {
    display: flex;
    justify-content: left;
}

.allign-center {
    display: flex;
    justify-content: center;
}

.space {
    width: 5em;
}

.push-up {
    margin-top: -4em;
}
.push-up-s {
  margin-top: -1.5em;
}

.push-up-large {
    margin-top: -6em;
}

.full-width {
  width: 100%;
}

/* ANIMATIONS */

.fade {
  animation: fade-in var(--transition-time-long) ease-in 0s;
}

.slide-up {
  transform: translateY(0);
  animation: slide-up var(--transition-time) ease-in;
}

.scale {
  animation: scale-in var(--transition-time-long) ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
