@font-face {
  font-family: "Geomatrix";
  src: local("../fonts/geomatrix/Geomatrix.woff") format("woff");
}

@font-face {
  font-family: "Geomatrix-2";
  src: url("../fonts/geomatrix/Geomatrix.woff") format("woff");
}

:root {
    /* Colors */
    --bkg: 259 8% 9%;
    --gray: 241 4% 35%;
    --white: 0 0% 96%;

    --text: 0 0% 96%;
    --muted-text: 241 4% 35%;

    --accent1: 346 56% 52%;
    --accent2: 22 100% 61%;
    --accent3: 8 74% 60%;

    --gradient: linear-gradient(
        -30deg,
        hsl(var(--accent1)),
        hsl(var(--accent2))
    );

    /* Spacing */
    --padding-button: 0.2em 1.5em;
    --padding-tall: 1em 1.5em;
    --padding-short: 0.3em 1.5em;
    --padding-top: 1.5em 0;

    --space-xl: 6em;
    --space-l: 3em;
    --space-m: 2.3em;
    --space: 1em;
    --space-s: 0.5em;
    --space-xs: 0.2em;

    /* Timeing */
    --transition-time-short: 0.15s;
    --transition-time: 0.4s;
    --transition-time-long: 1s;
}