---
import '../styles/pages/404.css';

import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Portfolio - 404">
	<div class="container">
        <h1 class="h1 text-gradient">404</h1>
        <h2 class="h4">Oops! Looks like that page doesn't exist!</h2>
    </div>
</BaseLayout>
