---
import '../styles/pages/contact.css';

import { Icon } from 'astro-icon'
import BaseLayout from '../layouts/BaseLayout.astro'
import SocialLinks from '../components/SocialLinksWhite.astro'
---

<BaseLayout title="Portfolio - Contact">
	<section class="contact slide-up">

		<div class="title">
		<h1 class="h1 text-dark">Contact me</h1>
		
        <img class="shape-divider top" src="../src/dividers/tilt_wave_tall.svg"/>
		</div>
		
		<div class="section">
		<div class="box">
			<Icon name="feather:mail" width={64} />
			<h2 class="h3">Email Me</h2>
            <a href="mailto: dawsonetheredge@outlook.com">dawsonetheredge@outlook.com</a>
		</div>

		<div class="box">
			<Icon name="feather:smartphone" width={64} />
			<h2 class="h3">Call Me</h2>
            <p>1-641-430-9729</p>
		</div>
		</div>

        <div class="section">
		<SocialLinks iconWidth={64} />
		</div>

        <img class="shape-divider bottom" src="../src/dividers/block_wave_small.svg"/>

    </section>
</BaseLayout>
