---
import '../styles/pages/home.css';

import data from '../data/skills.json';

import { Icon } from 'astro-icon'
import BaseLayout from '../layouts/BaseLayout.astro'
import IconBox from '../components/IconBox.astro'
import ImageBox from '../components/ImageBox.astro'
import FloatingImage from '../components/FloatingImage.astro'
---

<BaseLayout title="Portfolio - Home" >

	<!-- HERO -->
	<section class="hero" id="hi">
		<div class="inner-section fade">
			<h1 class="h1 text-dark">Hi There,<br>I'm <span class="text-gradient">Dawson</span></h1>
			<h2 class="h3 text-muted">game artist / developer</h2>
			<p class="p p-short text-muted">Just a passionate and self-taught indi dev looking
									to help tell stories through games. Lover of books, music, and coffee.</p>
		</div>

		<div class="inner-section scale">
			<ImageBox allign="allign-right" img="/images/me.jpg" size="lg" alt="portrate of dawson" />
			<ImageBox allign="allign-left" pos="push-up" img="/images/psychicsnail.jpg" size="md" alt="psychic snail studios logo" />
			<ImageBox allign="allign-center" space="space" pos="push-up-large" img="/images/pixeljunky.jpg" size="sm" alt="dawson's instagram logo" />
		</div>
	</section>

	<!-- SKILLS -->
	<img class="shape-divider" id="skills" src="/images/dividers/tilt_wave.svg" alt=""/>
    <div class="next-section">
		<a href="#skills" class="text-light push-up-s down-btn fade full-width"><Icon name="feather:chevron-down" width={48} /></a>
	</div>

	<section class="skills">
		<h2 class="h2 text-light fade">Skills</h2>
		<div class="icon-grid fade">
			{
                data.map(skill => (
					<IconBox title={skill.title} subTitle={skill.subTitle} icon={skill.icon} />
                ))
            }
		</div>
	</section>
	
	<!-- ABOUT -->
	<img id="about" class="shape-divider" src="/images/dividers/block_wave.svg" alt=""/>
	<section class="about">
		<h2 class="h2">A bit about me</h2>
		<div class="inner-section-wide">
			<div class="inner-section">
				<h3 class="h3">Bio</h3>
				<p class="p">My name is Dawson Etheredge. I grew up in the midwest USA and have always
				   had a passion for games and the stories they could tell.<br>
				   &emsp;When I'm not working on a game or expanding my coding knowledge I love to
				   read, create pixel art, play Dungeons & Dragons, practice the drums / ukelele and make latte art.</p>
			</div>
			<div class="inner-section">
				<FloatingImage img="/images/bio.jpg" alt="a pixel art self portrait" />
			</div>
		</div>

		<div class="inner-section-wide">
			<div class="inner-section">
				<FloatingImage img="/images/unity_cert.png" alt="unity certified professional programmer badge" />
			</div>
			<div class="inner-section">
				<h3 class="h3">Core Qualifications</h3>
				<p class="p">Why would you want to hire me?</p>
				<ul>
					<li>Experience in many aspects of game development, including designing,
						programming, the art pipe-line, prototyping, and debugging.</li>
					<li>Specialization in C# and knowledge of Java, JSON, CSS, and HTML.</li>
					<li>Great analytical and problem-solving skills.</li>
					<li>Eye for detail.</li>
					<li>Strong communication skills</li>
					<li>Ability to work as part of a team to meet a common goal.</li>
				</ul>
				<p>Feel free to download my <a class="link" href="/files/Resume.pdf" target="_blank" rel="noopener noreferrer" class="">resume</a>.</p>
			</div>
		</div>

		<!-- <div class="inner-section-wide">
			<div class="inner-section">
				<h3 class="h3">My Coding Journy</h3>
				<p class="p">I have always loved the idea of making my own games and computer programs but it wasn't until I started playing around with in-game mods for Minecraft that coding piqued my interest.<br>
							 &emsp;Once I started to learn the basics I began to consume any decent content I could find online about game development. After pursuing several passion projects I decided to take a few online classes and started participating in game jams.<br>
							 &emsp;As I have continued to learn more</p>
			</div>
			<div class="inner-section">
				<FloatingImage img="/images/psychicsnail.jpg" alt="" />
			</div>
		</div> -->
	</section>
</BaseLayout>
