---
import '../styles/components.css';

import SocialLinks from '../components/SocialLinks.astro'
---

<footer>
    <SocialLinks iconWidth={25} />
    <small>copyright © <span id="copyrightYear"></span> Dawson Etheredge</small>
</footer>

<!-- <script src="../js/footer.js" /> -->
<script src={Astro.resolve('../js/footer.js')} hoist type="module"></script>