---
import '../styles/components.css';

import SocialLinks from '../components/SocialLinks.astro'
---

<footer>
    <SocialLinks iconWidth={25} />
    <small>copyright © <span id="copyrightYear"></span> Dawson Etheredge</small>
</footer>

<!-- <script src="../js/footer.js" /> -->
<script type="module" src={(await import("../js/footer.js?url")).default}></script>