---
import '../styles/nav.css';

import { Icon } from 'astro-icon'

const navLinks = [
    {
        name: 'About',
        url: '/',
        id: "#about-link"
    },
    {
        name: 'Portfolio',
        url: '/portfolio',
        id: "#portfolio-link"
    },
    {
        name: 'Contact',
        url: '/contact',
        id: "#contact-link"
    }
]
---

<nav>
    <div class="nav-container">
        <a href="/">
            <Icon name="logo" width={48} class="logo" />
        </a>
        <div class="nav-wrapper">
            <button class="menu-button" id="menu-btn" aria-expanded="false" aria-label="Open mobile nav">
                <Icon name="feather:menu" width={25} />
            </button>
            <ul class="nav-links" role="navigation">
                {
                    navLinks.map(link => (
                        <li role="none">
                            <a href={link.url} id={link.id} class="button">{link.name}</a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</nav>

<script>
  const navBtn = document.querySelector('#menu-btn');
//   const about = document.querySelector('#about-link');
  navBtn.addEventListener('click', () => {
    navBtn.setAttribute('aria-expanded', navBtn.getAttribute('aria-expanded') === 'false' ? 'true' : 'false');
  })
  /* about.addEventListener('click', () => {
    document.querySelector('#about').scrollIntoView();
  }) */
</script>