---
import '../styles/components/nav.css';

import data from '../data/nav.json';

import { Icon } from 'astro-icon'
---

<nav>
    <div class="nav-container">
        <a href="/portfolio/">
            <Icon name="logo" width={48} class="logo" />
        </a>
        <div class="nav-wrapper">
            <button class="menu-button" id="menu-btn" aria-expanded="false" aria-label="Open mobile nav">
                <Icon name="feather:menu" width={48} />
            </button>
            <ul class="nav-links" role="navigation">
                {
                    data.map(link => (
                        <li role="none">
                            <a href={link.url} id={link.id} class="button nav-button">{link.name}</a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</nav>

<script src="../src/js/nav.js" />