---
import '../styles/components.css';

const sections = [
	{
		link: "#top";
	},
	{
		link: "#skills";
	}
]
---

<div class="side-nav">
{
	sections.map(section => (
		<a href={section.link} class="side-nav-btn"></a>
	))
}
</div>